<div class="main-header">
  <div class="logo-header">
    <a [routerLink]="'/'" (click)="routeURL('')"  class="logo">
      <img src="assets/img/logo.png" class="img-responsive sitelogo" alt="DIR"/>
    </a>
    <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
  </div>
  <nav class="navbar navbar-header navbar-expand-lg">
    <div class="container-fluid">         
<!--       <form class="navbar-left navbar-form nav-search mr-md-3" action="">
        <div class="input-group">
          <input type="text" placeholder="Search ..." class="form-control">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="la la-search search-icon"></i>
            </span>
          </div>
        </div>
      </form> -->
      <a class="navbar-left hamburger closehamburger" href="javascript:void(0)"><i class="la la-reorder"></i></a>
      <span style="margin:15px auto;">{{now | date : "long"}}</span>
      <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
        <li class="nav-item dropdown hidden-caret">

          <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="la la-bell"></i>
            <span class="notification">3</span>
          </a> -->
          <span style="margin-right:15px;"></span>
          <!--<ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">
            <li>
              <div class="dropdown-title">You have 4 new notification</div>
            </li>
            <li>
              <div class="notif-center">
                <a href="#">
                  <div class="notif-icon notif-primary"> <i class="la la-user-plus"></i> </div>
                  <div class="notif-content">
                    <span class="block">
                      New user registered
                    </span>
                    <span class="time">5 minutes ago</span> 
                  </div>
                </a>
              </div>
            </li>
            <li>
              <a class="see-all" href="javascript:void(0);"> <strong>See all notifications</strong> <i class="la la-angle-right"></i> </a>
            </li>
          </ul>-->
        </li>
        <!--<li class="nav-item dropdown hidden-caret">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="la la-cog"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>-->
        <li class="nav-item dropdown">
          <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img src="assets/img/profile.jpg" alt="user-img" width="36" class="img-circle">
            <span>Welcome {{CurrentUserName}}</span>

          </a>
          <label style="display: block;
    text-align: left;
    margin-left: 46px;
    margin-top: -22px;
    font-weight: 500;">{{locationame}}</label>
          <ul class="dropdown-menu dropdown-user">
            <li>
              <div class="user-box">
                <div class="u-img"><img src="assets/img/profile.jpg" alt="user"></div>
                <div class="u-text">
                  <h4>{{CurrentUserName}}</h4>
                  <p class="text-muted">{{this.role.data[0].Email}}</p>
                  <a  class="btn btn-rounded"></a>
                  <a [routerLink]="'/profile'" class="btn btn-rounded btn-danger btn-sm">View Profile</a>
                </div>
                </div>
              </li>
              <a class="dropdown-item" [routerLink]="'/changePassword'"><i class="la la-unlock"></i> Change Password</a>
              <a class="dropdown-item" (click)="logout()"><i class="la la-power-off"></i> Logout</a>
              <!-- <a class="dropdown-item" href="#" (click)="logout()" *ngIf="auth.loggedIn"><i class="fa fa-power-off"></i> Logout</a> -->
            </ul>
            <!-- /.dropdown-user -->
          </li>
        </ul>
      </div>
    </nav>
  </div>
<div class="loader" *ngIf="loading">
<div class="loader-inner ball-scale-multiple">
  <div></div>
  <div></div>
  <div></div>
</div>
</div>