<div class="sidebar">
  <div class="scrollbar-inner sidebar-wrapper">

    <div class="secondarynav" *ngIf="pageSlug == ''">
      <ul class="nav">
        <li class="nav-item">
          <a [routerLink]="'/'" (click)="routeURL('')" class="sideAnTag">
            <i class="la la-dashboard"></i>
            <p>Dashboard</p>
            <a data-toggle="collapse" href="#level1" class="arrow collapsed" aria-expanded="false">
              <span class="la la-angle-down"></span>
            </a>
          </a>
          <div class="collapse" id="level1">
            <ul class="nav nav-collapse">
              <li>
                <a class="sideAnTag" data-toggle="collapse" href="#level2a" aria-expanded="false">
                  <span class="sub-item"><i class="la la-bar-chart"></i>Graphs</span>
                  <span class="la la-angle-down level2downarrow"></span>
                </a>
                <div class="collapse" id="level2a">
                  <ul class="nav nav-collapse">
                    <li>
                      <a [routerLink]="'/GraphsCandidate'" (click)="routeURL('GraphsCandidate')" class="sideAnTag">
                        <span class="sub-item"><i class="la la-bar-chart"></i>Graphs - Candidate</span>
                      </a>
                    </li>
                    <li>
                      <a [routerLink]="'/GraphsCourse'" (click)="routeURL('GraphsCourse')" class="sideAnTag">
                        <span class="sub-item"><i class="la la-bar-chart"></i>Graphs - Course</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a class="sideAnTag" data-toggle="collapse" href="#level2b" aria-expanded="false">
                  <span class="sub-item"><i class="la la-file"></i>Reports</span>
                  <span class="la la-angle-down level2downarrow"></span>
                </a>
                <div class="collapse" id="level2b">
                  <ul class="nav nav-collapse">
                    <li>
                      <a [routerLink]="'/ReportsCandidate'" (click)="routeURL('ReportsCandidate')"class="sideAnTag">
                        <span class="sub-item"><i class="la la-file"></i>Reports - Candidate</span>
                      </a>
                    </li>
                    <li>
                      <a [routerLink]="'/ReportsCourse'" (click)="routeURL('ReportsCourse')" class="sideAnTag">
                        <span class="sub-item"><i class="la la-file"></i>Reports - Course</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="sideAnTag">
            <i class="la la-cog"></i>
            <p>Settings</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="sideAnTag" data-toggle="collapse" href="#level1a" aria-expanded="false">
            <i class="la la-cog"></i>
            <p>Actions</p>
            <span class="la la-angle-down level2downarrow"></span>
          </a>
          <div class="collapse" id="level1a">
            <ul class="nav nav-collapse">
              <li>
                <a class="sideAnTag" data-toggle="collapse" href="#level2c" aria-expanded="false">
                  <span class="sub-item"><i class="la la-puzzle-piece"></i>Game Actions</span>
                  <span class="la la-angle-down level2downarrow"></span>
                </a>
                <div class="collapse" id="level2c">
                  <ul class="nav nav-collapse">
                    <li>
                      <a [routerLink]="'CreateGame'" class="sideAnTag">
                        <span class="sub-item"><i class="la la-plus-circle"></i>Create-Modify Game</span>
                      </a>
                    </li>
                    <li>
                      <a class="sideAnTag">
                        <span class="sub-item"><i class="la la-trash-o"></i>Decommission Game</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a class="sideAnTag">
                  <span class="sub-item"><i class="la la-user"></i>User Actions</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="sideAnTag">
            <i class="la la-envelope"></i>
            <p>Messages</p>
          </a>
        </li>
      </ul>
    </div>

    <div class="secondarynav" *ngIf="pageSlug == 'GraphsCandidate' || pageSlug == 'GraphsCourse'">
      <ul class="nav">
        <li class="nav-item">
          <a [routerLink]="'/'" (click)="routeURL('')" class="sideAnTag">
            <i class="la la-dashboard"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="sideAnTag" data-toggle="collapse" href="#level2a" aria-expanded="true">
            <span class="sub-item"><i class="la la-bar-chart"></i>Graphs</span>
            <span class="la la-angle-down level2downarrow"></span>
          </a>
          <div class="collapse show" id="level2a">
            <ul class="nav nav-collapse">
              <li>
                <a [routerLink]="'/GraphsCandidate'" (click)="routeURL('GraphsCandidate')" class="sideAnTag">
                  <span class="sub-item"><i class="la la-bar-chart"></i>Graphs - Candidate</span>
                </a>
              </li>
              <li>
                <a [routerLink]="'/GraphsCourse'" (click)="routeURL('GraphsCourse')" class="sideAnTag">
                  <span class="sub-item"><i class="la la-bar-chart"></i>Graphs - Course</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <div class="secondarynav" *ngIf="pageSlug == 'ReportsCandidate' || pageSlug == 'ReportsCourse'">
      <ul class="nav">
        <li class="nav-item">
          <a [routerLink]="'/'" (click)="routeURL('')" class="sideAnTag">
            <i class="la la-dashboard"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">              
          <a class="sideAnTag" data-toggle="collapse" href="#level2b" aria-expanded="true">
            <span class="sub-item"><i class="la la-file"></i>Reports</span>
            <span class="la la-angle-down level2downarrow"></span>
          </a>
          <div class="collapse show" id="level2b">
            <ul class="nav nav-collapse">
              <li>
                <a [routerLink]="'/ReportsCandidate'" (click)="routeURL('ReportsCandidate')" class="sideAnTag">
                  <span class="sub-item"><i class="la la-file"></i>Reports - Candidate</span>
                </a>
              </li>
              <li>
                <a [routerLink]="'/ReportsCourse'" (click)="routeURL('ReportsCourse')" class="sideAnTag">
                  <span class="sub-item"><i class="la la-file"></i>Reports - Course</span>
                </a>
              </li>
            </ul>
          </div>       
        </li>
      </ul>
    </div>

    <div class="secondarynav" *ngIf="pageSlug == 'CreateGame' || pageSlug == 'DecommissionGame'">
      <ul class="nav">
        <li class="nav-item">
          <a [routerLink]="'/'" (click)="routeURL('')" class="sideAnTag">
            <i class="la la-dashboard"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">              
          <a class="sideAnTag" data-toggle="collapse" href="#level3a" aria-expanded="true">
            <span class="sub-item"><i class="la la-puzzle-piece"></i>Game Actions</span>
            <span class="la la-angle-down level2downarrow"></span>
          </a>
          <div class="collapse show" id="level3a">
            <ul class="nav nav-collapse">
              <li>
                <a [routerLink]="'/CreateGame'" (click)="routeURL('CreateGame')" class="sideAnTag">
                  <span class="sub-item"><i class="la la-plus-circle"></i>Create-Modify Game</span>
                </a>
              </li>
              <li>
                <a [routerLink]="'/DecommissionGame'" class="sideAnTag" (click)="routeURL('DecommissionGame')">
                  <span class="sub-item"><i class="la la-trash-o"></i>Decommission Game</span>
                </a>
              </li>
            </ul>
          </div>       
        </li>
      </ul>
    </div>

  </div>
</div>
<div class="loader" *ngIf="loading">
  <div class="loader-inner ball-scale-multiple">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
