<div class="container-fluid">
  <h4 class="page-title">Change Password</h4>
  <div class="card">
    <div class="card-body" style="min-height: 400px; position: relative;">
    	<form [formGroup]="form" (ngSubmit)="onSubmit()">
    		<input type="hidden" formControlName="id" class="form-control" readonly/>
    		<div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="oldPassword">Old Password *</label>
                        <input type="password" formControlName="oldPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
                        <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.oldPassword.errors.required">Old Password is required</div>
                            <div *ngIf="f.oldPassword.errors.minlength">Old Password must be at least 6 characters</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="newPassword">New Password *</label>
                        <input type="password" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
                        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.newPassword.errors.required">New Password is required</div>
                            <div *ngIf="f.newPassword.errors.minlength">New Password must be at least 6 characters</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group float-right">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Change Password
                        </button>                        
                    </div>
                </div>
            </div> 
    	</form>
    </div>
	</div>
</div>