<div class="container-fluid">
  <h4 class="page-title">User Management</h4>
  <div class="card">
    <div class="card-body" style="min-height: 400px; position: relative;">
        <div class="row">
          <div class="col-12">
                <ul class="nav nav-pills nav-secondary" id="pills-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#companies" role="tab"
                      aria-controls="pills-profile" aria-selected="false">Companies</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#mentors" role="tab"
                      aria-controls="pills-profile" aria-selected="false">Mentors</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#addMentor" role="tab"
                      aria-controls="pills-profile" aria-selected="false">Add Mentor</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#allocateMentor" role="tab"
                      aria-controls="pills-profile" aria-selected="false">Allocate Mentor</a>
                  </li> 
                </ul>
          </div>
      </div>

    </div>
  </div>
</div>
<div class="loader" *ngIf="loading">
<div class="loader-inner ball-scale-multiple">
  <div></div>
  <div></div>
  <div></div>
</div>
</div>