<div class="container pt-4">
<div class="row">
    <div class="offset-sm-3 col-sm-5">
      <img src="assets/img/logo.png" class="img-responsive sitelogo" style="margin: 15px auto;max-width: 200px;display: block;" alt="DIR"/>
    </div>
  </div>

<div class="row ">
    <div class="offset-sm-3 col-sm-5">
        <div class="card">
          <!--   <h4 class="card-header">Login</h4> -->
            <div class="card-body">
              <div class="loginBlock" *ngIf="loginMode">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <h4 class="card-title mb-2" style="margin-left:9px;">Reset Password</h4>
                  <div class="form-group">
                    <label for="email_id">Email Id</label>
                    <input type="text" formControlName="email_id" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.email_id.errors }" />
                    <div *ngIf="submitted && f.email_id.errors" class="invalid-feedback">
                      <div *ngIf="f.email_id.errors.required">Email Id is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                  </div>                 
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <a routerLink="/" class="btn btn-primary pull-left" >                      
                          Login
                        </a>
                        </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary pull-right">
                          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                          Submit
                        </button>
                      </div>
                    </div>
                  </div>
                    
                </form>
              </div>
          </div>
      </div>
  </div>
</div>
</div>