﻿<div class="container-fluid">
	<h4 class="page-title">Dashboard</h4>
	

	<div>
		<div class="row">			
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="card card-dark bg-secondary-gradient">
					<div class="card-body bubble-shadow">
						<h1><i class="ion ion-arrow-graph-up-right"></i></h1>
						<h5 class="op-8">Total 1</h5>
						<div class="pull-right">
							<h3 class="fw-bold op-8">{{totalTeams}}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="card card-dark bg-secondary-gradient">
					<div class="card-body bubble-shadow">
						<h1><i class="ion ion-arrow-graph-up-right"></i></h1>
						<h5 class="op-8">Total 2</h5>
						<div class="pull-right">
							<h3 class="fw-bold op-8">{{totalMembers}}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="card card-dark bg-secondary-gradient">
					<div class="card-body bubble-shadow">
						<h1><i class="ion ion-arrow-graph-up-right"></i></h1>
						<h5 class="op-8">Total 3</h5>
						<div class="pull-right">
							<h3 class="fw-bold op-8">{{totalObjectives}}</h3>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="infoMsg">
					<h1>{{greet}}, {{user.data[0].UserName}} <i class="la la-smile-o"></i></h1>
				</div>
			</div>
		</div>
	</div>
	

</div>