<div class="container-fluid">
  	<h4 class="page-title">Create / Modify Game</h4>
	<div class="card">
		<div class="card-body" style="min-height: 400px; position: relative;">
			<div class="row">
				<div class="col-12">
					<div class="btn-group pull-right">
                        <button class="roundButtonOnlyIcon" placement="top" ngbTooltip="Create Game" (click)="createPopup()"><i class="ion ion-plus-round"></i></button>
                        <!-- <button class="roundButtonOnlyIcon" placement="top" ngbTooltip="Edit Game" (click)="editGame()"><i class="ion ion-edit"></i></button> -->
                        <button class="roundButtonOnlyIcon" placement="top" ngbTooltip="Delete Game" (click)="deleteGame()"><i class="ion ion-android-delete"></i></button> 
                    </div>
				</div>
			</div>

			<div class="row">
	        	<div class="col-sm-6 col-12">
	          		<div class="input-group mt-3">
		            <input type="text" class="form-control" [(ngModel)]="filterargs" placeholder="Filter Game" >
		          </div>
	        	</div>
	        	<div class="col-sm-6 col-12">
		          
		        </div>
	      	</div>

			<div class="row mt-2">
				<div class="col-12">
					<div class="table-responsive">
					<table class="table table-striped table-left">
						<thead>
							<tr class="table-theme">
								<th>Select</th>
								<th>Name</th>
								<th>Description</th>
								<th>Type</th>
								<th>Edit</th>
							</tr>
						</thead>
						<tbody class="text-left">
							<tr *ngFor="let game of availableGames | filter:filterargs | paginate: { itemsPerPage: 50, currentPage: p }; let inx = index">
								<td><input type="checkbox" (change)="onChange(game, $event.target.checked)" /></td>
								<td>
									<span [hidden]="enableEdit == true && game.id == enableEditIndex" contenteditable="false">{{game.name}}</span>
									<input type="text" *ngIf="enableEdit == true && game.id == enableEditIndex" value="{{game.name}}" (keyup)="changeValue(game.id, 'name', $event)" (blur)="updateList(game.id, 'name', $event)" class="form-control">
								</td>
								<td>
								<span [hidden]="enableEdit == true && game.id == enableEditIndex" contenteditable="false">{{game.description}}</span>
								<textarea placeholder="Description" class="form-control" *ngIf="enableEdit == true && game.id == enableEditIndex" (keyup)="changeValue(game.id, 'name', $event)" (blur)="updateList(game.id, 'name', $event)">{{game.description}}</textarea>
								</td>
								<td><span [hidden]="enableEdit == true && game.id == enableEditIndex" contenteditable="false">{{game.type}}</span>
								<select class="form-control" [(ngModel)]="game.type" *ngIf="enableEdit == true && game.id == enableEditIndex" >
					              <option value="" disabled>Select Type</option>
					              <option *ngFor="let type of types; index as i" [value]="type.name">{{type.name}}</option>
					            </select>
								</td>

								<td>
									<div *ngIf="EnableBtn == false">
					                  <button class="btn btn-orange btn-sm" [hidden]="enableEdit && enableEditIndex == game.id" (click)="enableEditMethod($event, game.id)"><i class="la la-edit"></i></button>
					                  <button *ngIf="enableEdit && enableEditIndex == game.id" (click)="enableEdit=false; updateRow(game);" class="btn btn-orange btn-sm"><i class="la la-check"></i></button>
					                </div>
								</td>
							</tr>
						</tbody>
					</table>
					</div>
					<pagination-controls class="float-right" (pageChange)="p = $event"></pagination-controls>
				</div>
			</div>
			
		</div>
	</div>
</div>

<ng-template #createGame let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title popupTitle">Create Game</h4>
      <button type="button" id="closeWeeklyModelBTN" class="close" aria-label="Close" (click)="d('Cross click')" style="position: absolute;
right: 10px;">
          <span aria-hidden="true">&times;</span>
      </button>
      
  </div>
  <div class="modal-body">
      <div class="center">
          <div class="row">
          	<div class="col-12">
          		<form [formGroup]="form" (ngSubmit)="onSubmit()">
		    		<div class="row">
		                <div class="col-12">
		                    <div class="form-group">
	    						<label>Name*</label>
	    						<input type="text" formControlName="name" placeholder="Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
	    						<div *ngIf="submitted && f.name.errors" class="invalid-feedback">
					              <div *ngIf="f.name.errors.required">Please enter name</div>
					            </div>
	    					</div>
		                </div>
		                <div class="col-12">
		                    <div class="form-group">
        						<label>Description*</label>
        						<textarea formControlName="description" placeholder="Description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
        						<div *ngIf="submitted && f.description.errors" class="invalid-feedback">
					              <div *ngIf="f.description.errors.required">Please enter description</div>
					            </div>
        					</div>
		                </div>
		                <div class="col-12">
		                    <div class="form-group">
        						<label>Type*</label>
        						<select class="form-control" formControlName="type">
					              <option value="" disabled>Select Type</option>
					              <option *ngFor="let type of types; index as i" [value]="type.name">{{type.name}}</option>
					            </select>
        						<div *ngIf="submitted && f.type.errors" class="invalid-feedback">
					              <div *ngIf="f.type.errors.required">Please enter type</div>
					            </div>
        					</div>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-12">
		                    <div class="form-group float-right">
		                            
		                        <button type="button" (click)="resetCreateGame()" class="btn btn-primary mr-1">Reset</button>
		                        <button [disabled]="loading" class="btn btn-primary mr-1">
		                            <span *ngIf="loading" class="fa fa-circle-o-notch fa-spin mr-1"></span>
		                            Save
		                        </button>    
		                    </div>
		                </div>
		            </div> 
		    	</form>
          	</div>
          </div>
      </div>
  </div>
</ng-template>